.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    gap: 5px;
}

.button_wrapper {
    width: 100%;
    text-align: center;
}

.button_body_container {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.input_container {
    width: 100%;
    flex-direction: row;
    gap: 5%;
}

.input_group {
    width: 40%;
}

.left_addon {
    padding: 5px;
}
